<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHP Ship Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>BHP Ship Monitoring</h1>
    <div id="location-name-container">
        <h2 id="location-name">Loading location...</h2>
    </div>
    <div id="berths-container">
        <!-- Berth cards will be loaded here -->
    </div>

<audio id="alertSound" src="{{ url_for('static', filename='audio/alarm.wav') }}" preload="auto"></audio>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
